html {
  font-size: 14px;
}

/*------SIL TESTEN HAAL WEG!!!------*/
.row {
    display: flex;
    flex-direction: column;
}
/*------SIL TESTEN HAAL WEG!!!------*/

body {
    background-color: #3E474B !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.container_main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3E474B;
}

    .container_main .main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

.border-top {
    width: 50%;
}

.border-bottom {
    width: 50%;
}

/*------HEADER------*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    header nav {
        width: 100%;
        background-color: #3E474B !important;
    }

        header nav ul li a, header nav ul li button {
            color: white !important;
        }

.navbar-brand img {
    width: 120px;
}

/*------FOOTER------*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .footer .copyright {
        margin-top: 10px;
        color: white;
    }

/*------MAIN PAGE------*/

.container_main {
    color: white;
}

.main {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
}

.container_main .main_content {
    row-gap: 50px;
    text-align: center;
    width: 45%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 0 50px #FEF3EC;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    height: 125%;
    background-color: #FEF3EC;
    margin-left: 0px;
}

.welkom_container {
    display: flex;
}

.container_main .login_box {
    color: #212529;
}

.container_main .main_content_active {
    color: white;
    text-align: center;
}

.container_main .image_box {
    width: 45%;
    background-image: url('../img/office.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 125%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

    .container_main .image_box .blur {
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        box-shadow: -10px 0 50px #ccc;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

.container_main .main_content .login_box {
    row-gap: 10px;
    justify-content: center;
}

.container_main .main_content .login_button {
    background-color: #525d61;
    border-radius: 10px;
    padding: 12px 25px;
    transition: all ease-in 0.4s;
    text-decoration: none;
    color: white !important;
}

    .container_main .main_content .login_button:hover {
        background-color: #3d4346;
    }

.container_main .main_content .login_box .register {
    display: unset;
    padding: 0;
}

/*------LOGIN/REGISTER PAGE/*------*/

.container_main .main_content_login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_main .main_content_login {
    color: white;
}

    .container_main .main_content_login .login_form {
        justify-content: space-evenly;
        align-items: center;
        width: 500px;
    }

        .container_main .main_content_login .login_form form h2 {
            text-align: center;
        }

.form-floating .form-label, .form-floating label {
    color: #212529
}

/*------VERLOFSCHEMA------*/

.container_main .main_content_verlofschema {
    height: 600px;
    align-content: start;
    width: 80%;
    background-color: #212529;
    box-shadow: 0 0 50px #ccc;
}

    .container_main .main_content_verlofschema .schema-top {
        height: 20%;
        border-top: 1px solid #FEF3EC;
        border-right: 1px solid #FEF3EC;
        border-left: 1px solid #FEF3EC;
    }

    .container_main .main_content_verlofschema .schema-top-top {
        height: 69.8%;
    }

    .container_main .main_content_verlofschema .schema-top-bottom {
        height: 30.2%;
    }

    .container_main .main_content_verlofschema .schema-top .schema-top-item {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .container_main .main_content_verlofschema .schema-top .months-row .schema-date {
        border-top: 1px solid #FEF3EC;
    }

    .container_main .main_content_verlofschema .end {
        border-right: 1px solid #FEF3EC;
    }

    .container_main .main_content_verlofschema .schema-date {
        width: 3.2%;
        height: 100%;
        border-left: 1px solid #FEF3EC;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_main .main_content_verlofschema .schema-bottom {
        height: 80%;
        border: 1px solid #FEF3EC;
    }

    .container_main .main_content_verlofschema .schema-user {
        height: 8%;
    }

    .container_main .main_content_verlofschema .schema-left, .container_main .main_content_verlofschema .schema-right {
        height: 100%;
        border-bottom: 1px solid #FEF3EC;
        display: flex;
    }

    .off-day {
        background-color: red;
    }

    .sick-day {
        background-color: orange;
    }

    .no-verlofaanvraag {
        background-color: green;
    }