@{
    ViewData["Title"] = "Verlofschema";
}

@using Microsoft.AspNetCore.Identity
@using GeoProfs_App.Models

<div class="main_content_verlofschema row">
    <div class="schema-top col-md-12">
        <div class="schema-top-top row">
            <div class="col-md-3 schema-top-item">

            </div>
            <div class="col-md-9 schema-top-item">
                <strong>Maanden</strong>
            </div>
        </div>
        <div class="schema-top-bottom row">
            <div class="col-md-3 schema-top-item">
                <strong>Users</strong>
            </div>
            <div class="col-md-9 schema-top-item months-row">
                <div class="schema-date">1</div>
                <div class="schema-date">2</div>
                <div class="schema-date">3</div>
                <div class="schema-date">4</div>
                <div class="schema-date">5</div>
                <div class="schema-date">6</div>
                <div class="schema-date">7</div>
                <div class="schema-date">8</div>
                <div class="schema-date">9</div>
                <div class="schema-date">10</div>
                <div class="schema-date">11</div>
                <div class="schema-date">12</div>
                <div class="schema-date">13</div>
                <div class="schema-date">14</div>
                <div class="schema-date">15</div>
                <div class="schema-date">16</div>
                <div class="schema-date">17</div>
                <div class="schema-date">18</div>
                <div class="schema-date">19</div>
                <div class="schema-date">20</div>
                <div class="schema-date">21</div>
                <div class="schema-date">22</div>
                <div class="schema-date">23</div>
                <div class="schema-date">24</div>
                <div class="schema-date">25</div>
                <div class="schema-date">26</div>
                <div class="schema-date">27</div>
                <div class="schema-date">28</div>
                <div class="schema-date">29</div>
                <div class="schema-date">30</div>
                <div class="schema-date end">31</div>
            </div>
        </div>
    </div>
    <div class="schema-bottom col-md-12">
        <div class="row schema-user">
            <div class="schema-left col-md-3">

            </div>
            <div class="schema-right col-md-9">
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date"></div>
                <div class="schema-date end"></div>
            </div>
        </div>
    </div>
</div>